footer{
    padding-top: 500px;
    /* position: fixed; */
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: .5em;
}
.line{
    width: 30%;
    color: white;
}
hr{
    margin-bottom: .5em;
}

.icon{
    margin-right: 1em;
    color: white;
}
.copyright{
    text-align: center;
    color: #fff;
    margin-bottom: .5em;
}
/* media queries */
@media screen and (max-width:1024px) {
    .line{
        width: 40%;
    }
}

@media screen and (max-width:568px){
    hr{
        display: none;
    }
}